$home_link_color: #fff;
$home_socials_color: #898989;
$title_color: #3d3d3c;
$text_color: #8a8a8a;
$gherson_bgcolor: #fcfcfc;
$delimeter_color: #e9e9e9;
$selection_bgcolor: #f6f6f6;
$news_link_color: #c9a23d;
$vertical_line_color: #f7f1e2;
$blog_pubinfo_color: #666666;
$blog_topic_color: #3e3e3d;
$blog_text_color: #6d6d6d;
$footer_communications_color: #979797;
$popup_bg_color: #000;