@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
    background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
    font-family: "slick";
    font-weight: normal;
    font-style: normal;

    src: url("./fonts/slick.eot");
    src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"),
        url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;

    opacity: 0.75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}
[dir="rtl"] .slick-prev {
    right: -25px;
    left: auto;
}
.slick-prev:before {
    content: "←";
}
[dir="rtl"] .slick-prev:before {
    content: "→";
}

.slick-next {
    right: -25px;
}
[dir="rtl"] .slick-next {
    right: auto;
    left: -25px;
}
.slick-next:before {
    content: "→";
}
[dir="rtl"] .slick-next:before {
    content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    top: 50%;
    left: 37px;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    list-style: none;
    padding: 1px;
    text-align: center;
    cursor: default;
}
.slick-dots li {
    position: relative;

    display: inline-block;

    min-width: 24px;
    min-height: 24px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li:last-child {
    margin-bottom: 0%;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 16px;

    cursor: pointer;

    color: transparent;
    border: 1px #898989 solid;
    border-radius: 50%;
    outline: none;
    background: transparent;

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 0;
}
.slick-dots li button:before {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    content: "";
    background-color: #fff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.slick-dots li.slick-active button {
    width: 24px;
    height: 24px;
}
.slick-dots li.slick-active button:before {
    display: block;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 1200px) {
    .slick-dots {
        left: 18px;
    }
    .slick-dots li {
        min-width: 18px;
        min-height: 18px;
        margin-bottom: 22px;
    }

    .slick-dots li:last-child {
        margin-bottom: 0;
    }
    .slick-dots li button {
        padding: 0;
        width: 12px;
        height: 12px;
    }

    .slick-dots li button:before {
        width: 4px;
        height: 4px;
    }

    .slick-dots li.slick-active button {
        width: 18px;
        height: 18px;
    }

    .slick-dots li button:hover,
    .slick-dots li button:focus {
        width: 18px;
        height: 18px;
    }
}

@media screen and (max-width: 767px) {
    .slick-dots {
        left: 18px;
    }
    .slick-dots li {
        min-width: 16px;
        min-height: 16px;
        margin-bottom: 12px;
    }

    .slick-dots li:last-child {
        margin-bottom: 0;
    }
    .slick-dots li button {
        padding: 0;
        width: 9px;
        height: 9px;
    }

    .slick-dots li button:before {
        width: 3px;
        height: 3px;
    }

    .slick-dots li.slick-active button {
        width: 16px;
        height: 16px;
    }

    .slick-dots li button:hover,
    .slick-dots li button:focus {
        width: 16px;
        height: 16px;
    }
}