@import "../assets/mixins";

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  h2 {
    margin-bottom: 54px;
    letter-spacing: 4px;  
    @include desktop_hd {
      margin-bottom: 40px;
      font-size: 30px;
    }
  }

  p {
    @include about_paragraph;
    width: 54%;
    text-align: center;
    line-height: 1.64;
    margin-bottom: 70px;
    @include desktop_hd {
      margin-bottom: 50px;
    }
  }
}
