@import "../assets/mixins";
@import url(./about_us.css);
@import url(./fields.css);

.about {
  &__container {
    position: relative;
    padding-bottom: 113px;
  }

  &__us {
    position: relative;
    min-height: 450px;
    z-index: 5;
  }
  &__fields {
    position: relative;
    min-height: 300px;
  }
  &__background {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45%;
    transform: translateY(-100%);
    z-index: -5;
    @include gherson_bg;
  }
}
