@import "../assets/master";
@import "../assets/mixins";

.blogs {
  &__container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: $home_link_color;
    padding: 100px 0 160px;
    
    @include desktop_hd {
      padding: 60px 0 100px;
    }
  }

  &__link {
    @include team_all_link;
    font-size: 18px;
    color: $news_link_color;
    position: relative;
    padding-right: 30px;
    top: -25px;
    margin-right: 200px;
    align-self: flex-end;
    z-index: 5;
    margin-bottom: 100px;

    @include desktop_hd {
      font-size: 14px;
    }

    span {
      position: absolute;
      right: 0;
      font-family: "FA5PLight";
      font-weight: normal;
      color: $title_color;
    }

    &:hover {
      color: $text_color;
      span {
        color: $delimeter_color;
      }
    }
    &:active {
      color: $text_color;
      span {
        color: $delimeter_color;
      }
    }
  }

  &__list {
    display: flex;
    position: relative;
    width: 79%;
    flex-wrap: wrap;
  }
}

.blog {
  display: flex;
  flex-direction: column;
  padding: 0 calc(5% / 3);
  flex-basis: calc(96% / 3);
  border: 1px solid $selection_bgcolor;
  margin-right: 2%;
  padding-bottom: 30px;

  &:hover {
    background-color: $selection_bgcolor;
    cursor: default;

    .blog__delimeter {
      background-color: $home_link_color;
    }
  }

  &__image {
    width: 100%;
    max-height: 220px;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &-pubinfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @include desktop_hd {
      margin-bottom: 15px;
    }

    &__date {
      @include blog_pubinfo;
      font-size: 14px;
      color: $blog_pubinfo_color;

      @include desktop_hd {
        font-size: 12px;
      }
    }

    &__author {
      @include blog_pubinfo;
      font-size: 14px;
      color: $blog_pubinfo_color;

      @include desktop_hd {
        font-size: 12px;
      }
    }
  }

  &__delimeter {
    height: 1px;
    width: 100%;
    border: none;
    background-color: $blog_pubinfo_color;
    margin-bottom: 30px;
    
    @include desktop_hd {
      margin-bottom: 22px;
    }
  }

  h3 {
    @include blog_topic;
    color: $blog_topic_color;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 32px;
    
    @include desktop_hd {
      font-size: 19px;
      line-height: 28px;
      margin-bottom: 22px;
    }
  }
  
  p {
    @include blog_text;
    font-size: 17px;
    line-height: 29px;
    color: $blog_text_color;
    margin-bottom: 30px;
    
    @include desktop_hd {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 22px;
    }
  }

  a {
    font-family: "FA5PLight";
    font-size: 16px;
    color: $blog_text_color;
    align-self: flex-end;

    @include desktop_hd {
      font-size: 14px;
    }

    &:hover {
      color: $title_color;
    }
    &:active {
      color: $title_color;
    }
  }
}
