.blogs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 100px 0 160px;
}
@media screen and (max-width: 1200px) {
  .blogs__container {
    padding: 60px 0 100px;
  }
}
.blogs__link {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  color: #c9a23d;
  position: relative;
  padding-right: 30px;
  top: -25px;
  margin-right: 200px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  z-index: 5;
  margin-bottom: 100px;
}
@media screen and (max-width: 1200px) {
  .blogs__link {
    font-size: 14px;
  }
}
.blogs__link span {
  position: absolute;
  right: 0;
  font-family: "FA5PLight";
  font-weight: normal;
  color: #3d3d3c;
}
.blogs__link:hover {
  color: #8a8a8a;
}
.blogs__link:hover span {
  color: #e9e9e9;
}
.blogs__link:active {
  color: #8a8a8a;
}
.blogs__link:active span {
  color: #e9e9e9;
}
.blogs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 79%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 calc(5% / 3);
  -ms-flex-preferred-size: calc(96% / 3);
      flex-basis: calc(96% / 3);
  border: 1px solid #f6f6f6;
  margin-right: 2%;
  padding-bottom: 30px;
}
.blog:hover {
  background-color: #f6f6f6;
  cursor: default;
}
.blog:hover .blog__delimeter {
  background-color: #fff;
}
.blog__image {
  width: 100%;
  max-height: 220px;
  margin-bottom: 20px;
}
.blog__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog:nth-child(3n) {
  margin-right: 0;
}
.blog-pubinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .blog-pubinfo {
    margin-bottom: 15px;
  }
}
.blog-pubinfo__date {
  font-family: "DidactGothic";
  font-size: 14px;
  color: #666666;
}
@media screen and (max-width: 1200px) {
  .blog-pubinfo__date {
    font-size: 12px;
  }
}
.blog-pubinfo__author {
  font-family: "DidactGothic";
  font-size: 14px;
  color: #666666;
}
@media screen and (max-width: 1200px) {
  .blog-pubinfo__author {
    font-size: 12px;
  }
}
.blog__delimeter {
  height: 1px;
  width: 100%;
  border: none;
  background-color: #666666;
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  .blog__delimeter {
    margin-bottom: 22px;
  }
}
.blog h3 {
  font-family: "RobotoLight";
  font-weight: 600;
  color: #3e3e3d;
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 32px;
}
@media screen and (max-width: 1200px) {
  .blog h3 {
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 22px;
  }
}
.blog p {
  font-family: "DidactGothic";
  font-size: 17px;
  line-height: 29px;
  color: #6d6d6d;
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  .blog p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 22px;
  }
}
.blog a {
  font-family: "FA5PLight";
  font-size: 16px;
  color: #6d6d6d;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media screen and (max-width: 1200px) {
  .blog a {
    font-size: 14px;
  }
}
.blog a:hover {
  color: #3d3d3c;
}
.blog a:active {
  color: #3d3d3c;
}