@import "../assets/master";
@import "../assets/mixins";

.button {
    display: inline-block;
    padding: 12px 23px 13px;
    @include form_select;
    @include desktop_hd {
        padding: 8px 16px 8.5px;
        font-size: 12px;
    }
}

.home-slider .button {
    border: 1px solid $home_link_color;
    color: $home_link_color;

    &:hover {
        color: $delimeter_color;    
        border: 1px solid $delimeter_color;
    }
    
    &:active {
        color: $delimeter_color;    
        border: 1px solid $delimeter_color;
    }
}

.home-feedback a {
    border: 1px solid $home_link_color;
    color: $home_link_color;

    &:hover {
        color: $delimeter_color;    
        border: 1px solid $delimeter_color;
    }
    
    &:active {
        color: $delimeter_color;    
        border: 1px solid $delimeter_color;
    }
}

.about .button {
    color: $title_color;
    border: 1px solid $title_color;
    
    &:hover {
        color: $text_color;
        border: 1px solid $text_color;
    }
    &:active {
        color: $text_color;
        border: 1px solid $text_color;
    }
}

.form .button {
    @include form_select;
    padding: 16px 25px 18px 26px;
    width: 163px;
    background-color: $home_link_color;
    border: 1px solid $title_color;
    color: $title_color;
    cursor: pointer;
    
    @include desktop_hd {
        padding: 11px 19px 12px 20px;
        width: 130px;
    }
    
    span {
        position: relative;
        right: -5px;
        font-family: 'FA5PLight';
    }
    
    &:hover {
        border: 1px solid $text_color;
        color: $text_color;
    }
    &:active {
        border: 1px solid $text_color;
        color: $text_color;
    }
}