.button {
  display: inline-block;
  padding: 12px 23px 13px;
  font-family: "RobotoLight";
  font-size: 16px;
}
@media screen and (max-width: 1200px) {
  .button {
    font-size: 12px;
  }
}
@media screen and (max-width: 1200px) {
  .button {
    padding: 8px 16px 8.5px;
    font-size: 12px;
  }
}

.home-slider .button {
  border: 1px solid #fff;
  color: #fff;
}
.home-slider .button:hover {
  color: #e9e9e9;
  border: 1px solid #e9e9e9;
}
.home-slider .button:active {
  color: #e9e9e9;
  border: 1px solid #e9e9e9;
}

.home-feedback a {
  border: 1px solid #fff;
  color: #fff;
}
.home-feedback a:hover {
  color: #e9e9e9;
  border: 1px solid #e9e9e9;
}
.home-feedback a:active {
  color: #e9e9e9;
  border: 1px solid #e9e9e9;
}

.about .button {
  color: #3d3d3c;
  border: 1px solid #3d3d3c;
}
.about .button:hover {
  color: #8a8a8a;
  border: 1px solid #8a8a8a;
}
.about .button:active {
  color: #8a8a8a;
  border: 1px solid #8a8a8a;
}

.form .button {
  font-family: "RobotoLight";
  font-size: 16px;
  padding: 16px 25px 18px 26px;
  width: 163px;
  background-color: #fff;
  border: 1px solid #3d3d3c;
  color: #3d3d3c;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .form .button {
    font-size: 12px;
  }
}
@media screen and (max-width: 1200px) {
  .form .button {
    padding: 11px 19px 12px 20px;
    width: 130px;
  }
}
.form .button span {
  position: relative;
  right: -5px;
  font-family: "FA5PLight";
}
.form .button:hover {
  border: 1px solid #8a8a8a;
  color: #8a8a8a;
}
.form .button:active {
  border: 1px solid #8a8a8a;
  color: #8a8a8a;
}