.catchword {
  position: absolute;
  left: 5.2%;
  font-family: "CochinRegular";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 4px;
  color: #3d3d3c;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(180deg) translateX(50%);
      -ms-transform: rotate(180deg) translateX(50%);
          transform: rotate(180deg) translateX(50%);
  z-index: 5;
  white-space: nowrap;
}
@media screen and (max-width: 1200px) {
  .catchword {
    font-size: 10px;
  }
}