.home-contacts a {
  font-family: "RobotoLight";
  font-style: normal;
  font-size: 18px;
  color: #fff;
}
@media screen and (max-width: 1800px) {
  .home-contacts a {
    font-size: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .home-contacts a {
    font-size: 14px;
  }
}
.home-contacts a:hover {
  color: #e9e9e9;
}
.home-contacts a:active {
  color: #e9e9e9;
}

.communications a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "DidactGothic";
  font-style: normal;
  line-height: 1.4;
  color: #979797;
}
@media screen and (max-width: 1200px) {
  .communications a {
    font-size: 14px;
  }
}
.communications a:hover {
  color: #3e3e3d;
}
.communications a:active {
  color: #3e3e3d;
}