.field {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  min-height: 300px;
  padding-top: 40px;
  padding-bottom: 30px;
  z-index: 5;
}
@media screen and (max-width: 1200px) {
  .field {
    padding-top: 30px;
    padding-bottom: 22px;
  }
}
.field__image {
  height: 56px;
  width: 56px;
  margin-bottom: 29px;
}
@media screen and (max-width: 1200px) {
  .field__image {
    max-height: 40px;
    max-width: 40px;
    margin-bottom: 21px;
  }
}
.field__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.field a {
  display: inline-block;
  width: 30px;
  font-family: "FA5PLight";
  font-size: 18px;
  color: #3d3d3c;
}
@media screen and (max-width: 1200px) {
  .field a {
    font-size: 14px;
  }
}
.field a:hover {
  color: #8a8a8a;
}
.field a:active {
  color: #8a8a8a;
}
.field__delimeter {
  border: none;
  width: 30px;
  height: 1px;
  background-color: #e9e9e9;
  margin-bottom: 29px;
}
@media screen and (max-width: 1200px) {
  .field__delimeter {
    margin-bottom: 21px;
  }
}
.field p {
  font-family: "DidactGothic";
  font-size: 18px;
  color: #8a8a8a;
  width: 83%;
  margin-bottom: 30px;
  line-height: 1.62;
}
@media screen and (max-width: 1200px) {
  .field p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .field p {
    margin-bottom: 21px;
  }
}
.field h3 {
  font-family: "RobotoLight";
  font-size: 24px;
  color: #3d3d3c;
  margin-bottom: 25px;
}
@media screen and (max-width: 1200px) {
  .field h3 {
    font-size: 19px;
  }
}
@media screen and (max-width: 1200px) {
  .field h3 {
    margin-bottom: 19px;
  }
}

.about-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-fields__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 2%;
  width: 83%;
}