@import "../assets/mixins";
@import "../assets/master";


.field {
  flex-basis: 25%;
  min-height: 300px;
  padding-top: 40px;
  padding-bottom: 30px;
  z-index: 5;
  
  &__image {
    max-height: 56px;
    max-width: 56px;
    margin-bottom: 29px;
    & img {
      height: 100%;
      width: auto
    }
  }

  & a {
    display: inline-block;
    width: 30px;
    @include arrow_link;
    color: $title_color;

    &:hover {
      color: $text_color;
    }

    &:active {
      color: $text_color;
    }
  }

  &__delimeter {
    border: none;
    width: 30px;
    height: 1px;
    background-color: $delimeter_color;
    margin-bottom: 29px;
  }

  & p {
    @include fields_paragraph;
    width: 83%;
    margin-bottom: 30px;
    line-height: 1.62;
  }

  & h3 {
    @include fields_title;
    margin-bottom: 25px;
  }
}

.about-fields {
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
    width: 83%;
  }
}
