.footer__container {
  position: relative;
  min-height: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 83%;
}
@media screen and (max-width: 1200px) {
  .footer__container {
    min-height: 245px;
  }
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  z-index: 5;
}
.footer__policies {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  z-index: 5;
}
.footer__copyright {
  font-family: "DidactGothic";
  font-size: 16px;
  font-style: normal;
  font-size: 15px;
  color: #979797;
}
@media screen and (max-width: 1200px) {
  .footer__copyright {
    font-size: 12px;
  }
}
.footer-contacts__logo {
  margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  .footer-contacts__logo {
    margin-bottom: 30px;
  }
}

.communications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.communications a:nth-child(2) {
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  .communications a:nth-child(2) {
    margin-bottom: 22px;
  }
}

.policies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  .policies {
    padding-bottom: 16px;
  }
}
.policies__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .policies__info {
    margin-bottom: 37px;
  }
}
.policies-authority {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "DidactGothic";
  font-size: 16px;
  font-style: normal;
  color: #979797;
  font-size: 16px;
  margin-right: 25px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 1200px) {
  .policies-authority {
    font-size: 12px;
    margin-right: 20px;
  }
}
.policies-authority span {
  text-align: right;
}
.policies-authority span:first-child {
  width: 60%;
  margin-bottom: 25px;
}
@media screen and (max-width: 1200px) {
  .policies-authority span:first-child {
    margin-bottom: 20px;
  }
}
.policies-banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.policies__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.policies__link {
  font-family: "DidactGothic";
  font-size: 16px;
  font-style: normal;
  font-size: 16px;
  margin-right: 25px;
}
@media screen and (max-width: 1200px) {
  .policies__link {
    font-size: 12px;
    margin-right: 20px;
  }
}
.policies__link a {
  color: #979797;
}
.policies__link a:hover {
  color: #3e3e3d;
}
.policies__link a:active {
  color: #3e3e3d;
}

.banner {
  margin-right: 20px;
}
@media screen and (max-width: 1200px) {
  .banner {
    margin-right: 15px;
  }
}
.banner:last-child {
  margin-right: 0;
}