@import "../assets/master";
@import "../assets/mixins";

.select__arrow {
  position: absolute;
  display: inline-block;
}

.select {
  display: inline-block;
  max-width: 194px;
  width: 100%;
  position: relative;
  margin-right: 20px;
}

.new-select {
  position: relative;
  padding: 16px 25px 18px 26px;
  @include form_select;
  cursor: pointer;
  user-select: none;
  background: $home_link_color;
  &:hover {
    color: $text_color;
  }
}

.new-select__list {
  position: absolute;
  top: 55px;
  left: 0;
  border: 1px solid #ced4da;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: $home_link_color;
  user-select: none;
}

.new-select__list.on {
  display: block;
}

.new-select__item span {
  display: block;
  padding: 10px 25px 11px 26px;
  @include form_select;
}

.new-select__item span:hover {
  color: $text_color;
}

.new-select:after {
  content: "";
  display: block;
  @include form_arrow;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 21px;
  top: 16px;
  transition: all 0.27s ease-in-out;
  transform: rotate(0deg);
}

.new-select.on:after {
  transform: rotate(180deg);
}
