@import url(./logo.css);
@import url(./menu.css);
.home-header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44.6%;
}
.home-header__logo {
  padding-right: 152px;
}
@media screen and (max-width: 1800px) {
  .home-header__logo {
    width: 220px;
    padding-right: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .home-header__logo {
    width: 180px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 1800px) {
  .home-header__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (max-width: 1200px) {
  .home-header__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.home-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-header__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}