@import "../assets/master";
@import "../assets/mixins";

@import url(./header.css);
@import url(./logo.css);
@import url(./communications.css);
@import url(./socials.css);
@import url(./slider.css);

.home {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // max-height: 1090px;
    max-height: calc(100vw * (1090/1920));
  }

  &__header {
    display: flex;
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    padding-left: 10.4%;
    padding-right: 9.6%;
    justify-content: space-between;
    z-index: 5;
    @include desktop_hd {
      padding-left: 8.2%;
      padding-right: 7.9%;
    }
  }

  &__slider {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
  }
}