@import url(./header.css);
@import url(./logo.css);
@import url(./communications.css);
@import url(./socials.css);
@import url(./slider.css);

.home {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 1090px;
  }

  &__header {
    display: flex;
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    padding-left: 200px;
    padding-right: 185px;
    justify-content: space-between;
    z-index: 5;
  }

  &__slider {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
  }
}