@import url(./header.css);
@import url(./logo.css);
@import url(./communications.css);
@import url(./socials.css);
@import url(./slider.css);
.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: calc(100vw * (1090/1920));
  max-height: 1090px;
}
.home__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  padding-left: 10.4%;
  padding-right: 9.6%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
}
@media screen and (max-width: 1200px) {
  .home__header {
    padding-left: 8.2%;
    padding-right: 7.9%;
  }
}
.home__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}