@import "../assets/master";
.home-navigation__list {
  display: flex;
  flex-grow: 1;
  & li {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    & a {
      font-family: 'RobotoLight';
      font-size: 18px;
      color: $home_link_color;
      &:hover {
        color: $delimeter_color;
      }
      &:active {
        color: $delimeter_color;
      }
    }
  }
}