@import "../assets/mixins";
@import "../assets/master";

.news {
    &-item {
        position: relative;
        flex-basis: calc(100% / 3);
        min-height: 300px;
        padding-top: 40px;
        padding-bottom: 130px;
        z-index: 5;

        &__numeration {
            position: absolute;
            top: -10px;
            left: -35px;
            @include news_numeration;
            color: $home_link_color;
            text-shadow: 0px 0px 3px $title_color;
            opacity: .4;
            z-index: -5;
        }

        & a {
            display: flex;
            width: 30px;
            @include arrow_link;
            color: $news_link_color;
            white-space: nowrap;
            min-width: 30%;

            & span {
                position: relative;
                color: $title_color;
                right: -20px;
            }
            &:hover {
                color: $text_color;
                & span {
                    color: $delimeter_color;
                }
            }

            &:active {
                color: $text_color;
                & span {
                    color: $delimeter_color;
                }
            }
        }

        & p {
            @include fields_paragraph;
            width: 83%;
            margin-bottom: 30px;
            line-height: 29px;
        }

        & h3 {
            @include news_title;
            width: 83%;
            margin-bottom: 25px;
            line-height: 1.2;
        }
    }
    &-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        &__list {
            display: flex;
            flex-wrap: wrap;
            padding-left: 2%;
            width: 83%;
        }
    }
}
