.news__container {
  position: relative;
}
.news-item {
  position: relative;
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
  min-height: 300px;
  padding-top: 40px;
  padding-bottom: 130px;
  z-index: 5;
}
@media screen and (max-width: 1200px) {
  .news-item {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
.news-item__numeration {
  position: absolute;
  top: -10px;
  left: -35px;
  font-family: "CochinRegular";
  font-size: 140px;
  color: #fff;
  text-shadow: 0px 0px 3px #3d3d3c;
  opacity: 0.4;
  z-index: -5;
}
@media screen and (max-width: 1200px) {
  .news-item__numeration {
    font-size: 100px;
  }
}
.news-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  font-family: "FA5PLight";
  font-size: 18px;
  color: #c9a23d;
  white-space: nowrap;
  min-width: 30%;
}
@media screen and (max-width: 1200px) {
  .news-item a {
    font-size: 14px;
  }
}
.news-item a span {
  position: relative;
  color: #3d3d3c;
  right: -20px;
}
.news-item a:hover {
  color: #8a8a8a;
}
.news-item a:hover span {
  color: #e9e9e9;
}
.news-item a:active {
  color: #8a8a8a;
}
.news-item a:active span {
  color: #e9e9e9;
}
.news-item p {
  font-family: "DidactGothic";
  font-size: 18px;
  color: #8a8a8a;
  width: 83%;
  margin-bottom: 30px;
  line-height: 29px;
}
@media screen and (max-width: 1200px) {
  .news-item p {
    font-size: 14px;
  }
}
.news-item h3 {
  font-family: "RobotoLight";
  font-size: 28px;
  color: #3d3d3c;
  width: 83%;
  margin-bottom: 25px;
  line-height: 1.2;
}
@media screen and (max-width: 1200px) {
  .news-item h3 {
    font-size: 23px;
  }
}
.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}
.news-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 2%;
  width: 83%;
}