@import url(./form.css);
.services__container {
  position: relative;
}
.services__background {
  width: 100%;
  height: 530px;
}
.services__background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services__selection {
  position: absolute;
  bottom: 5px;
  right: 10.5%;
  padding: 85px 91px 88px;
  width: 37%;
  background-color: #f6f6f6;
}
.services__second-contact__item a:active {
  color: #8a8a8a;
}
.services__second .selection {
  right: unset;
  left: 10.5%;
}

.selection__title {
  font-family: "RobotoLight";
  font-size: 50px;
  letter-spacing: 4px;
  color: #3d3d3c;
  margin-bottom: 44px;
}
.selection__hint {
  font-family: "DidactGothic";
  font-size: 20px;
  color: #3d3d3c;
  margin-bottom: 47px;
}
.selection-contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 38px;
}
.selection-contact__item {
  margin-right: 30px;
}
.selection-contact__item:last-child {
  margin-right: 0;
}
.selection-contact__item a {
  font-family: "FA5PLight";
  font-size: 30px;
  color: #3d3d3c;
}
.selection-contact__item a:hover {
  color: #8a8a8a;
}
.selection-contact__item a:active {
  color: #8a8a8a;
}