.home-slider__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.home-slider__slides:hover {
  cursor: -webkit-grab;
  cursor: grab;
}
.home-slider__slides:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.slider-slides__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100%;
}

.slides-slide {
  display: inline-block;
  position: relative;
  min-width: 100%;
  height: 100%;
}
.slides-slide:before {
  display: block;
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.slides-slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 55%;
  margin-left: 200px;
  z-index: 5;
}
.slides-slide__content p {
  font-family: "RobotoLight";
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .slides-slide__content p {
    font-size: 40px;
  }
}
.slides-slide__background {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -5;
}