.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
  height: 832px;
}
.team__background {
  position: absolute;
  width: 100%;
  top: 150px;
  font-family: "CochinRegular";
  font-size: 285px;
  color: #fcfcfc;
  color: #fff;
  text-align: center;
  font-size: 180px;
}
@media screen and (max-width: 1200px) {
  .team__background {
    font-size: 140px;
  }
}
.team__link {
  font-family: "RobotoLight";
  font-size: 18px;
  font-style: normal;
  font-weight: bolder;
  color: #c9a23d;
  position: relative;
  padding-right: 30px;
  top: -25px;
  margin-right: 200px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  z-index: 5;
}
@media screen and (max-width: 1200px) {
  .team__link {
    font-size: 14px;
  }
}
.team__link span {
  position: absolute;
  right: 0;
  font-family: "FA5PLight";
  font-weight: normal;
  color: #3d3d3c;
}
.team__link:hover {
  color: #8a8a8a;
}
.team__link:hover span {
  color: #e9e9e9;
}
.team__link:active {
  color: #8a8a8a;
}
.team__link:active span {
  color: #e9e9e9;
}
.team__title {
  text-align: center;
  z-index: 5;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}
.team__member {
  max-width: calc(100% / 6);
  padding: 10px 0;
  width: 287px;
  height: 380px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media screen and (max-width: 1200px) {
  .team__member {
    height: 285px;
    width: 215px;
    max-width: calc((100% / 6) - 2%);
  }
}
.team__member:hover {
  padding: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media screen and (max-width: 1200px) {
  .team__member:hover {
    height: 285px;
  }
}
.team__member:hover .team-member__avatar {
  -webkit-box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.15);
}
.team__member:hover .member-info {
  border: none;
}
.team__member:hover .member-info .member-info__gherson {
  display: none;
}
.team__member:hover .member-info .member-info__name {
  display: none;
}
.team__member:hover .member-info .member-info__place {
  display: none;
}
.team__member:hover .member-info .member-info__delimeter {
  display: none;
}
.team-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: default;
}
.team-member--active {
  height: 380px;
  padding: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media screen and (max-width: 1200px) {
  .team-member--active {
    height: 285px;
  }
}
.team-member--active .team-member__avatar {
  -webkit-box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.15);
}
.team-member--active .member-info {
  border: none;
}
.team-member--active .member-info .member-info__gherson {
  display: none;
}
.team-member--active .member-info .member-info__name {
  display: none;
}
.team-member--active .member-info .member-info__place {
  display: none;
}
.team-member--active .member-info .member-info__delimeter {
  display: none;
}
.team-member__avatar {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team-member__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #c9a23d;
}
.team__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 37px;
}
.team-control a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
}
.team-control a:before {
  position: absolute;
  display: none;
  content: "";
  width: 6px;
  height: 6px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #c9a23d;
}
.team-control:last-child {
  margin-right: 0;
}
.team-control--active a {
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #3d3d3c;
  border-radius: 50%;
  background-color: transparent;
}
.team-control--active a:before {
  display: block;
}

.member-info__gherson {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "CochinRegular";
  font-size: 12px;
  color: #fff;
}
.member-info__name {
  width: 75%;
  text-align: center;
  font-family: "CochinRegular";
  font-size: 28px;
  color: #fff;
  margin-bottom: 30px;
}
.member-info__place {
  font-family: "DidactGothic";
  font-size: 16px;
  color: #fff;
}
.member-info__delimeter {
  width: 50px;
  height: 1px;
  border: none;
  background-color: #fff;
  margin-bottom: 30px;
}