@import "../assets/master";
@import "../assets/mixins";

.team {
  &__container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
    height: 832px;
  }
  
  &__background {
    position: absolute;
    width: 100%;
    top: 150px;
    @include gherson_bg;
    color: $home_link_color;
    text-align: center;
    font-size: 180px;

    @include desktop_hd {
      font-size: 140px;
    }
  }

  &__link {
    @include team_all_link;
    color: $news_link_color;
    position: relative;
    padding-right: 30px;
    top: -25px;
    margin-right: 200px;
    align-self: flex-end;
    z-index: 5;

    @include desktop_hd {
      font-size: 14px;
    }

    span {
      position: absolute;
      right: 0;
      font-family: "FA5PLight";
      font-weight: normal;
      color: $title_color;
    }

    &:hover {
      color: $text_color;
      span {
        color: $delimeter_color;
      }
    }
    &:active {
      color: $text_color;
      span {
        color: $delimeter_color;
      }
    }

  }

  &__title {
    text-align: center;
    z-index: 5;
  }

  &__list {
    display: flex;
    z-index: 5;
    justify-content: flex-end;
    align-items: center;
    padding: 100px 0;
  }

  &__member {
    max-width: calc(100% / 6);
    padding: 10px 0;
    width: 287px;
    height: 380px;
    transition: all 0.2s ease;
    
    @include desktop_hd {
      height: 285px;
      width: 215px; 
      max-width: calc((100% / 6) - 2%);
    }

    &:hover {
      padding: 0;
      transition: all 0.2s ease;

      @include desktop_hd {
        height: 285px;
      }

      .team-member__avatar {
        box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.15);
      }

      .member-info {
        border: none;
        .member-info {
          &__gherson {
            display: none;
          }

          &__name {
            display: none;
          }

          &__place {
            display: none;
          }

          &__delimeter {
            display: none;
          }
        }
      }
    }
  }

  &-member {
    display: flex;
    position: relative;
    cursor: default;

    &--active {
      height: 380px;
      padding: 0;
      transition: all 0.2s ease;
      
      @include desktop_hd {
        height: 285px;
      }

      .team-member__avatar {
        box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.15);
      }

      & .member-info {
        border: none;
        .member-info {
          &__gherson {
            display: none;
          }

          &__name {
            display: none;
          }

          &__place {
            display: none;
          }

          &__delimeter {
            display: none;
          }
        }
      }
    }

    &__avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 80%;
      height: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid $news_link_color;
    }
  }

  &__controls {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 37px;
    
    @include desktop_hd {
      width: 20px;
      height: 20px;
      margin-right: 29px;
    }
    
    a {
      display: flex;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $home_link_color;

      @include desktop_hd {
        width: 12px;
        height: 12px;
      }

      &:before {
        position: absolute;
        display: none;
        content: '';
        width: 4px;
        height: 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        background-color: $news_link_color;
      }
    }
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  &-control--active {
    a {
      position: relative;
      width: 24px;
      height: 24px;
      border: 1px solid $title_color;
      border-radius: 50%;
      background-color: transparent;

      @include desktop_hd {
        width: 20px;
        height: 20px;
      }

      @include desktop_hd {
        width: 20px;
        height: 20px;
      }

      &:before {
        display: block;
      }
    }
    
  }
}

.member {
  &-info {
    &__gherson {
      position: absolute;
      top: 20px;
      left: 20px;
      font-family: "CochinRegular";
      font-size: 12px;
      color: $home_link_color;
      
      @include desktop_hd {
        font-size: 9px;
        top: 15px;
        left: 15px;
      }
    }

    &__name {
      width: 75%;
      text-align: center;
      font-family: "CochinRegular";
      font-size: 28px;
      color: $home_link_color;
      margin-bottom: 30px;

      @include desktop_hd {
        font-size: 22px; 
      }
    }

    &__place {
      font-family: "DidactGothic";
      font-size: 16px;
      color: $home_link_color;
      
      @include desktop_hd {
        font-size: 12px;
      }
    }

    &__delimeter {
      width: 50px;
      height: 1px;
      border: none;
      background-color: $home_link_color;
      margin-bottom: 30px;
    }
  }
}
