@import "../assets/mixins";

.home-contacts {
  &__phone {
    margin-right: 20px;
    @include medium_devices {
    }
  }

  a {
    @include contacts_phone;
    font-size: 18px;
    color: $home_link_color;

    @include desktop_uhd {
      font-size: 15px;
    }

    @include desktop_hd {
      font-size: 14px;
    }

    &:hover {
      color: $delimeter_color;
    }

    &:active {
      color: $delimeter_color;
    }
  }
}

.feedback-popup .communications {
  width: 50%;
  a {
    @include contacts_phone;
    font-size: 18px;
    color: $home_link_color;

    @include desktop_uhd {
      font-size: 15px;
    }

    @include desktop_hd {
      font-size: 14px;
    }

    &:hover {
      color: $delimeter_color;
    }

    &:active {
      color: $delimeter_color;
    }
  }

}

.communications a {
  align-self: flex-start;
  @include footer_communications;
  line-height: 1.4;
  color: $footer_communications_color;


  @include desktop_hd {
    font-size: 14px;
  }

  &:hover {
    color: $blog_topic_color;
  }

  &:active {
    color: $blog_topic_color;
  }
}
