@import "../assets/mixins";

.feedback-popup {
  overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	font-size: 16px;
	color: $home_link_color;
	background-color: rgba($popup_bg_color, 0.9);

  p {
    @include about_paragraph;
    color: $home_link_color;
    width: 50%;
    text-align: justify;
    margin-bottom: 10px;

		@include desktop_hd {
			font-size: 0.9em;
		}
		
		@include medium_devices {
			font-size: 0.8em;
		}
		
		@include tablets {
			font-size: 0.7em;
		}
  }
}

.hide {
  display: none;
}