@import "../assets/mixins";

.field {
  flex-basis: 25%;
  min-height: 300px;
  padding-top: 40px;
  padding-bottom: 30px;
  z-index: 5;

  @include desktop_hd {
    padding-top: 30px;
    padding-bottom: 22px;
  }

  @include medium_devices {
    flex-basis: calc(100%/2);
  }

  @include phones {
    flex-basis: 100%;
    padding: 10px 10% 7px;
    min-height: 200px;
  }

  &__image {
    height: 56px;
    width: 56px;
    margin-bottom: 29px;

    @include desktop_hd {
      max-height: 40px;
      max-width: 40px;
      margin-bottom: 21px;
    }

    @include phones {
      margin: 0 auto;
      margin-bottom: 10px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  a {
    display: inline-block;
    width: 30px;
    @include arrow_link;
    font-size: 18px;

    color: $title_color;

    &:hover {
      color: $text_color;
    }

    &:active {
      color: $text_color;
    }
  }

  &__delimeter {
    border: none;
    width: 30px;
    height: 1px;
    background-color: $delimeter_color;
    margin-bottom: 29px;

    @include desktop_hd {
      margin-bottom: 21px;
    }

    @include medium_devices {
      margin-bottom: 19px;
    }

    @include tablets {
      margin-bottom: 18px;
    }
    
    @include phones {
      margin: 0 auto;
      margin-bottom: 18px;
      width: 100px;
    }
  }

  p {
    @include fields_paragraph;
    width: 83%;
    margin-bottom: 30px;
    line-height: 1.62;
    font-size: 16px;

    @include desktop_hd {
      margin-bottom: 21px;
      font-size: 15px;
    }

    @include medium_devices {
      text-align: justify;
      font-size: 14px;
    }

    @include tablets {
      font-size: 13px;
    }

    @include phones {
      width: 100%;
    }
  }

  h3 {
    @include fields_title;
    margin-bottom: 25px;
    font-size: 24px;
    color: $title_color;

    @include desktop_hd {
      font-size: 19px;
      margin-bottom: 19px;
    }
    
    @include medium_devices {
      font-size: 17px;
      margin-bottom: 17px;
    }
    @include tablets {
      font-size: 16px;
      margin-bottom: 16px;
    }

    @include phones {
      text-align: center;
    }
  }
}

.about-fields {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
    width: 83%;

    @include phones {
      width: 90%;
      padding-left: 0;
      align-items: center;
    }
  }
}