@import "../assets/mixins";

.footer {
  &__container {
    position: relative;
    min-height: 305px;
    display: flex;
    width: 83%;

    @include desktop_hd {
      min-height: 245px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    z-index: 5;
    @include tablets {
      flex-basis: 45%;
    }
  }
  
  &__policies {
    flex-basis: 50%;
    z-index: 5;
    @include tablets {
      flex-basis: 55%;
    }
  }

  &__copyright {
    @include footer_communications;
    font-size: 15px;
    color: $footer_communications_color;
  
    @include desktop_hd {
      font-size: 12px;
    }
  }

  &-contacts {
    &__logo {
      margin-bottom: 40px;
      
      @include desktop_hd {
        margin-bottom: 30px;
      }
      @include medium_devices {
        margin-bottom: 25px;
      }
      @include tablets {
        width: 120px;
        margin-bottom: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.communications {
  display: flex;
  flex-direction: column;

  & a:nth-child(2) {
    margin-bottom: 30px;
    
    @include desktop_hd {
      margin-bottom: 22px;
    }
    @include medium_devices {
      margin-bottom: 18px;
    }
    @include tablets {
      margin-bottom: 15px;
    }
  }
}

.policies {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
  
  @include desktop_hd {
    padding-bottom: 16px;
  }

  @include medium_devices {
    padding-bottom: 25px;
  }

  &__info {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    
    @include desktop_hd {
      margin-bottom:37px;
    }

    @include medium_devices {

    }
  }

  &-authority {
    display: flex;
    flex-direction: column;
    @include footer_communications;
    color: $footer_communications_color;
    font-size: 16px;
    margin-right: 25px;
    align-items: flex-end;
    
    @include desktop_hd {
      font-size: 12px;
      margin-right: 20px;
    }
    span {
      text-align: right;
      @include medium_devices {
        width: 80%;
      }

      @include tablets {
        width: 100%;
      }

      &:first-child {
        width: 60%;
        margin-bottom: 25px;
        
        @include desktop_hd {
          margin-bottom: 20px;
        }

        @include medium_devices {
          width: 100%;
        }

        @include tablets {
          text-align: justify;
        }
      }
    }
  }

  &-banners {
    display: flex;
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    @include footer_communications;
    font-size: 16px;
    margin-right: 25px;
    
    @include desktop_hd {
      font-size: 12px;
      margin-right: 20px;
    }

    @include medium_devices {
      text-align: center;
    }

    a {
      color: $footer_communications_color;
      &:hover {
        color: $blog_topic_color;
      }

      &:active {
        color: $blog_topic_color;
      }
    }
  }
}

.banner {
  margin-right: 20px;
  
  @include desktop_hd {
    margin-right: 15px;
  }
  
  @include tablets {
    margin-right: 10px;
    height: 100px;
    width: 100px;
  }

  &:last-child {
    margin-right: 0;
  }

  img {
    @include tablets {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
