@import "../assets/mixins";

.home-navigation {
  position: relative;
  align-self: center;
  justify-content: flex-end;

  @include medium_devices {
    flex-direction: column-reverse;
    position: absolute;
    top: 0;
    right: 78px;
  }

  &__list {
    display: flex;
    flex-grow: 1;

    @include medium_devices {
      display: none;
      flex-direction: column;
      align-self: flex-end;
    }

    li {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;


      @include medium_devices {
        justify-content: flex-end;
        margin-bottom: 14px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      @include tablets {
        margin-bottom: 10px;
      }

      a {
        font-family: 'RobotoLight';
        font-size: 18px;
        color: $home_link_color;

        @include desktop_uhd {
          font-size: 15px;
        }

        @include desktop_hd {
          font-size: 14px;
        }

        @include tablets {
          font-size: 11px;
        }

        &:hover {
          color: $delimeter_color;
        }

        &:active {
          color: $delimeter_color;
        }
      }
    }
  }
}

.hamburger {
  display: none;
  width: 30px;
  height: 31px;
  cursor: pointer;
  align-self: flex-end;

  @include medium_devices {
    display: inline-block;
    margin-bottom: 20px;
  }

  @include tablets {
    margin-bottom: 15px;
    width: 25px;
    height: 26px;
  }

  &__line {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 3px;
    border-radius: 1.5px;
    background-color: $home_link_color;
    transition: .5s;

    @include tablets {
      width: 25px;
      height: 2px;
      border-radius: 1px;
    }

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: -12px;
      width: 30px;
      height: 3px;
      background-color: $home_link_color;
      transition: .5s;
      border-radius: 1.5px;

      @include tablets {
        width: 25px;
        height: 2px;
        border-radius: 1px;
        top: -10px;
      }
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 12px;
      width: 30px;
      height: 3px;
      background-color: $home_link_color;
      transition: .5s;
      border-radius: 1.5px;

      @include tablets {
        width: 25px;
        height: 2px;
        border-radius: 1px;
        top: 10px;
      }
    }
  }
}

.hamburger.opened {
  .hamburger__line {
    background-color: transparent;
    transition: .5s;

    &:before {
      top: 0;
      transform: rotate(-45deg);
    }

    &:after {
      top: 0;
      transform: rotate(45deg);
    }
  }
}