@import "../assets/mixins";

.home-slider {
  &__slides {
    display: flex;
    width: 100%;
    overflow: hidden;
    &:hover {
      cursor: grab;
    }
    &:active {
      cursor: grabbing;
    }
  }
}

.slider-slides {
  &__list {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100%;
  }
}

.slides-slide {
  display: inline-block;
  position: relative;
  min-width: 100%;
  height: 100%;
  &:before {
    display: block;
    content: '';
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
  }
  &__content {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    top: 50%;
    transform: translateY(-50%);
    width: 55%;
    margin-left: 200px;
    z-index: 5;

    @include tablets {
      margin-left: 130px;
    }

    p {
    font-family: 'RobotoLight';
    font-size: 3.125vw;

    color: $home_link_color;
    text-transform: uppercase;
    margin-bottom: 2.6vw;
    }
  }

  &__background {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
  }
}
