@import "../assets/mixins";

.title {
  @include title;
  font-size: 40px;
  @include desktop_hd {
    font-size: 30px;
  }
  @include medium_devices {
    font-size: 25px;
  }
  @include tablets {
    font-size: 20px;
  }
}

.feedback-popup {
  .title {
    color: $home_link_color;
  }
}